/*
 * @Author: MoS 
 * @Date: 2025-10-27 15:12:28 
 * @Last Modified by: Mos
 * @Last Modified time: 2025-10-27 17:59:14
 */

* {
  border: 1px solid red;
  margin: 0;
}
.pokemon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-container {
  width: 100%;
  background-color: #ddd;
  padding: 4px;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 400px;
  margin: 20px auto;
}

.progress-bar {
  height: 30px;
  background-color: green;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 8px;
  transition: width 0.1s linear;
}

.progress-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
