/*
 * @Author: MoS 
 * @Date: 2025-10-27 15:12:28 
 * @Last Modified by: Mos
 * @Last Modified time: 2025-10-27 20:47:49
 */

* {
  /*  border: 1px solid red; */
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.pokemon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-container {
  width: 100%;
  background-color: #ddd;
  padding: 4px;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 300px;
  margin: 5px auto;
}

.progress-bar {
  height: 20px;
  background-color: green;
  text-align: center;
  line-height: 20px;
  color: white;
  border-radius: 8px;
  transition: width 0.1s linear;
  font-size: 0.7em;
}
